.list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0rem 0.25rem;
}

.list {
  background: white;
  padding: 0.5rem;
  margin: 0.25rem 0rem;
  box-shadow: var(--shadow);
}

.list:first-child {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

.list:last-child {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

.list:only-child {
  margin: 0rem;
}

.list * > .as-text {
  font-style: italic;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border: none;
  background: transparent;
  width: 100%;
  resize: none;
  font-family: inherit;
}

.list * > .as-title {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border: none;
  width: auto;
  background: transparent;
}

.list-box {
  position: relative;
  background: transparent;
}

.list-box > .action-button-container {
  display: flex;
  width: 15%;
  justify-content: space-between;
}


.action-button-container > .action-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: white;
  padding: 4px;
  box-shadow: var(--shadow-button);
}

.action-button-container > .action-button.danger {
  background: red;
}

.action-button-container > [data-buttonaction="hide"].action-button {
  display: none;
}

.list * > .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container > .date-scheduled {
  font-size: 0.85rem;
}

.title-container > .time-label {
  display: flex;
  align-items: center;
}
