.search-form {
  --width: 400px;
  max-width: var(--width);
  margin: 0 auto;
  overflow: hidden;
}

.search-form
   * > .searchbox {
  margin: 0;
  padding: 0.5rem;
  width: var(--width);
  -webkit-appearance: none;
  font-size: 13px;
  border: 1px solid var(--dark1);
  border-radius: var(--radius)
}

.search-form
   * > .searchbox:focus {
  outline: var(--accent) auto 1px;
  border-radius: var(--radius);
}

.search-form
  > .search-result-box {
  position: fixed;
  width: var(--width);
  font-size: 0.75rem;
}

.search-result-box
  > .search-result {
  background: white;
  cursor: pointer;
  padding: 0.5rem;
  display: inline-block;
  overflow: hidden;
  width: var(--width);
  max-width: var(--width);
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.search-result-box
> .search-result
> .exactMatch {
  background: var(--accent);
}

.search-result-box
> .search-result
> .id-label {
  font-weight: bold;
  font-size: 1rem;
}

.search-result-box
> .search-result.focused {
  background: var(--dark0);
  color: var(--light0);
}

.search-form > .workspace-action-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 4px 0px;
}

.workspace-action-container button {
  border: 1px solid var(--accent);
  color: var(--accent);
  background: white;
  /* box-shadow: var(--shadow-button); */
  padding: 4px;
  border-radius: var(--radius);
  cursor: pointer;
}

