:root {
  /* CSS HEX */
  --light0: #d9e5e6ff;
  --light1: #b9d3d4ff;
  --mid: #579c9eff;
  --dark1: #447c7dff;
  --dark0: #091818ff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  color: var(--light1);
  background: var(--dark0);
}

h1 {
  color: var(--light0);
}
