/* General Classes */
.card {
  border-radius: 5px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: hsl(185, 21%, 65%) 0px 4px 6px -1px,hsl(185, 21%, 53%) 0px 2px 4px -1px;
  will-change: transform;
  transform: translate(0, 0);
}

.card-title {
  color: var(--dark1);
  text-align: center;
  display: flex;
}

.card-meta {
  color: var(--dark0);
  display: flex;
  justify-content: space-evenly;
}

.card-body {
  color: var(--dark1);
}

.card-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
}

.field-content {
  color: #000;
}

.field-content p:focus, .field-content p:active {
  outline: var(--accent) auto 1px;
}

.workspace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form {
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.searchbox {
  margin: 0;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  box-shadow: hsl(185, 21%, 65%) 0px 4px 6px -1px,hsl(185, 21%, 53%) 0px 2px 4px -1px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 13px;
}
