/* General Classes */
.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  will-change: transform;
  transform: translate(0, 0);
  border: 1px solid var(--dark0);
  padding: 0.25rem;
}

.card [data-status="done"] {
  opacity: 0.75;
}

.card [data-time-allotted="short"] {
  background: black;
  color: white;
}


.card [data-time-allotted="medium"] {
  background: #22ffa1;
  color: black;
}


.card [data-time-allotted="long"] {
  background: #5167f6;
  color: white;
}

.card-title {
  color: var(--dark1);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card-meta {
  color: var(--dark0);
  display: flex;
  justify-content: space-evenly;
}

.card-body {
  color: var(--dark1);
}

.card-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
}

.field-content {
  color: #000;
}

.field-content p:focus, .field-content p:active {
  outline: var(--accent) auto 1px;
}

.workspace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.search-form {
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.searchbox {
  margin: 0;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  box-shadow: var(--shadow);
  width: 100%;
  -webkit-appearance: none;
  font-size: 13px;
}

.search-result {
  background: white;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  box-shadow: var(--shadow);
}

.search-result.focused {
  background: var(--accent);
}

.action-button {
  background: transparent;
  border: 1px solid var(--dark1);
  border-radius: 3px;
  cursor: pointer;
}

.action-button.danger {
  background: red;
}

.list {
  background: white;
  padding: 0.5rem;
  border-left: 3px solid var(--dark0);
  margin: 0.25rem 0rem;
  min-height: 55px;
}


.list [data-time-allotted="short"] {
  border-left: 3px solid var(--dark0);
}


.list [data-time-allotted="medium"] {
  border-left: 3px solid #22ffa1;
}


.list [data-time-allotted="long"] {
  border-left: 3px solid #5167f6;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0rem 0.25rem;
}

.list:first-child {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

.list:last-child {
  margin-bottom: 0rem;
  margin-top: 0.25rem;
}

.list:only-child {
  margin: 0rem;
}

.workspace-view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-view-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0.5rem;
  flex: 1 1 auto;
  min-height: 55px;
  margin: 0rem 0.25rem;
}

.card-view-container h2 {
  text-align: center;
  position: sticky;
}

.hotkey-container {
  display: flex;
  justify-content: space-evenly;
}

.hotkey {
  width: 50px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid var(--dark0);
}
